<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>586661182403-krgbkabui571vrsb9eeua8emj4lfehim.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.586661182403-krgbkabui571vrsb9eeua8emj4lfehim</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>586661182403-jpmlvu2p9hfo6c3o1gr6dmntuo57gg2o.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBtWyiE6WnMAPsHjkfhkBJ3Wz-O3vl4ndM</string>
	<key>GCM_SENDER_ID</key>
	<string>586661182403</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.raj.foody</string>
	<key>PROJECT_ID</key>
	<string>foody-acae6</string>
	<key>STORAGE_BUCKET</key>
	<string>foody-acae6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:586661182403:ios:7683dadd6314aa65f2db76</string>
	<key>DATABASE_URL</key>
	<string>https://foody-acae6.firebaseio.com</string>
</dict>
</plist>